# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / build
build/
dist/
*.egg-info/
*.egg

# PyInstaller files
*.spec

# Logs & system files
*.log
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
